<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>
 <bean id="parentTriangle" class="org.koushik.javabrains.Triangle">
    <property name="pointA" ref="zeroPoint" />
 </bean>
 
 <bean id="triangle1" class="org.koushik.javabrains.Triangle" parent="parentTriangle">
    <property name="pointB" ref="point2" />
    <property name="pointC" ref="point3" />
    
 </bean>
 
 <bean id="triangle2" class="org.koushik.javabrains.Triangle" parent="parentTriangle">
    <property name="pointB" ref="point2" />
    
 </bean>
 
 <bean id="zeroPoint" class="org.koushik.javabrains.Point">
    <property name="x" value="0" />
    <property name="y" value="0" />
 </bean>
  
  <bean id="point2" class="org.koushik.javabrains.Point">
    <property name="x" value="-20" />
    <property name="y" value="0" />
  </bean>
  
  <bean id="point3" class="org.koushik.javabrains.Point">
    <property name="x" value="0" />
    <property name="y" value="20" />
  </bean>
  
</beans>